<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cinemafunctions2026-dtghczaaf6hhfgf8.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bfefdd5d-abda-477e-badc-f27e123865a5/resourceGroups/CinemaFunctions2026_group/providers/Microsoft.Web/sites/CinemaFunctions2026</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://cinemafunctions2026-dtghczaaf6hhfgf8.scm.polandcentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>